<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>

{% load staticfiles %}

<link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
<link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">

</head>