.gridItemStyle{
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.dragItem{
  width:auto;
  height:auto;
}
#drag1{
    background-color: yellow;
}
#drag2{
    background-color: pink;
}
#drag3{
    background-color: green;
}
#drag4{
    background-color: red;
}
