.logViewItem {
    height: 100pt;
    overflow-y: scroll;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-width: 2pt;
    border-style: solid;
}
.buttons{
  margin-top: 5%;
}

#userlist table{
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center
}

#userlist table tr td:first-of-type{
    text-align: left;
    cursor: auto;
}

#userlist table tr td:not(first-of-type){
    border-radius: 4px;
    cursor: pointer;
}