<html>
<head>
    {% include "public/admin/header.html" %}
</head>
<body>

<br>
<div class="col-md-1"></div>
<div class="col-md-8">
<table class="table table-bordered">
<tr>
    <th>Schemata</th>
    <th>Name</th>
    <th>Description</th>
    <th>
        <form action="{% url "admin" %}"  method="post">
    <button class="glyphicon glyphicon-plus" type="submit" name="action" value="addView"></button>
    </form>
    </th>
</tr>

    {% for tenant in tenantlist %}
    <tr>
        <td>{{ tenant.schema_name }}</td>
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.description }}</td>
        <td>
        <form action="{% url "admin" %}"  method="post">


    <input type="hidden" name="schemaName" value="{{ tenant.schema_name }}">
    <input type="hidden" name="name" value="{{ tenant.name }}">
    <input type="hidden" name="description" value="{{ tenant.description }}">
    <button class="glyphicon glyphicon-remove" type="submit" name="action" value="delTenant"></button></form></td>

    </tr>
    {% endfor %}

</table>


 </div>
{% include "public/admin/footer.html" %}

</body>
</html>