<html>
<head>
    {% include "public/admin/header.html" %}
</head>

<br>
<body><div class="col-md-6">
    <div class="panel panel-primary">
    <div class= "panel-heading">
        <h3 class="panel-title">Add new Tenant</h3>
    </div>
    <div class="panel-body">
       <form action="{% url "admin" %}"  method="post">


    <label class="col-md-4"><b>Schemata Name</b></label>
    <input type="text" name="schemaName" required></br>

    <label class="col-md-4"><b>Name</b></label>
    <input type="text" name="name" required></br>

    <label class="col-md-4"><b>Description</b></label>
    <input type="text" name="description" required></br>
           <br>
    <button  class="glyphicon glyphicon-plus" type="submit" name="action" value="addTenant"></button>


</form>  </div></div></div>
</body>
</html>